.game-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.game-container h2 {
  text-shadow: 1px 1px 2px #000000;
}

.image-container {
  text-align: center;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  height: 24rem;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
}

.answer-container {
  width: 80%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.answer-container button {
  width: 24rem;
  padding: 10px 30px;
  background-image: linear-gradient(to bottom, #703649, #08010c);
  opacity: 0.76;
  margin: 1rem;
  margin-bottom: 1rem;
  color: white;
  font-size: medium;
  border-radius: 10px;
  transition-duration: 400ms;
}
.answer-container button:hover {
  padding: 10px 30px;
  background-image: linear-gradient(to bottom, #703649, #08010c);
  opacity: 0.65;
  border-radius: 10px;
}

.image {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}

.results {
  text-align: center;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  height: 24rem;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
}

.results button {
  width: 32rem;
  padding: 10px 30px;
  background-image: linear-gradient(to bottom, #703649, #08010c);
  opacity: 0.76;
  color: white;
  font-size: medium;
  border-radius: 10px;
  transition-duration: 400ms;
}

.results button:hover {
  padding: 10px 30px;
  background-image: linear-gradient(to bottom, #703649, #08010c);
  opacity: 0.65;
  border-radius: 10px;
}

.back-icon {
  height: 2rem;
  width: 2rem;
  margin: 1rem;
}

.current-question {
  text-shadow: 1px 1px 2px #000000;
  font-size: larger;
  margin-left: auto;
  margin-right: 11rem;
  width: fit-content;
}
