.login-container {
  background: linear-gradient(
    to top right,
    rgba(154, 55, 55, 0.748),
    rgb(133, 37, 37)
  );
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  font-size: 24px;
  width: 24rem;
  height: 28rem;
  margin: 8rem 6rem;
  text-align: center;

  &__link {
    font-size: small;
    color: violet;
    text-decoration: none;
  }

  &__text {
    color: aliceblue;
    font-size: small;
    margin: 0.5rem 0 0.5rem;
  }

  &__title {
    text-shadow: 1px 1px 2px #000000;
    margin: 1rem;
    color: #ffaa9b;
  }

  &__btn {
    width: 80%;
    padding: 10px 30px;
    background-image: linear-gradient(to bottom, #703649, #08010c);
    opacity: 0.76;
    color: white;
    font-size: medium;
    border-radius: 10px;
    transition-duration: 400ms;

    &:hover {
      padding: 10px 30px;
      background-image: linear-gradient(to bottom, #703649, #08010c);
      opacity: 0.65;
      border-radius: 10px;
    }
  }

  &__separator {
    margin: 0rem auto;
    width: 80%;
    padding: 0.25px;
    background-color: #ccc;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  &__provider-text {
    margin: 0 0 0;
    font-size: small;
    color: aliceblue;
  }
}
